body {
    background-color: #ddd;
}

.jumbotron {
    /* margin-top: 50px !important; */
    background-image: url('../img/bgSayur1.jpg');
    background-size: cover;
    height: 700px;
}

h1 {
    line-height: 50%;
}
.textStyle a {
    color: black;
}
.textStyle a:hover {
    text-decoration: none;
    color: black;
}

.form-control {
    border-radius: 20px;
}
select option {
    font-size: 15px;
}

.top-margin {
    margin-top: 50px;
}

.tshadow {
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

/* .card img {
    width: 250px;
    height: 250px;
} */
a:hover {
    text-decoration: none !important;
}
.warna a button {
    background-color: #ddd !important;
}

section {
    background-color: #fff;
}

.coba img {
    width: auto;
    height: 150px;
}

.infoLayanan li a{
    color: white;
}

.infoLayanan li a:hover{
    color: darkgrey;
}

